.community-index {
  /*color: black;*/
}

.community-index > .wrapper {
  /*background-color: white !important;*/
  /*margin: 0 !important;*/
  /*padding: 25px 0;*/
}

.community-index-title {
  color: white !important;
}

@media(max-width: 767px) {
  .community-index .community-index-title, .community-index .community-index-description {
    padding: 0 50px;
  }
  .community-index .wrapper {
    margin-left: -100px;
    margin-right: -100px;
    margin-top: -30px;
  }
}

.community-header-action {
  font-size: 20px;
  color: #1DAAA0;
  margin: -30px 0 0;
}

.community-header-action > .btn {
  background: white; /* 0 0 */
  color: #1DAAA0;
  min-width: 0;
  border: 1px solid #1DAAA0;
}

.community-content {
  margin-top: 60px;
}

.feature-1 {
  -webkit-animation-delay: 0.25s; /* Safari 4.0 - 8.0 */
  animation-delay: 0.25s;
}

.feature-2 {
  -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
  animation-delay: 0.5s;
}

.feature-3 {
  -webkit-animation-delay: 0.75s; /* Safari 4.0 - 8.0 */
  animation-delay: 0.75s;
}

.community-feature {
  text-align: center;
}

.community-feature-title a {
  margin-top: 10px;
  font-weight: 400;
}

.community-feature-description {
  text-align: left;
  font-size: 18px;
}

.community-feature-author {
  text-align: left;
  color: #666;
  font-size: 13px;
}

.community-break {
  margin: 50px 0 75px;
}

.community-featured-video-title {
  font-size: 50px;
  text-align: center;
}

.community-featured-video-title > h1 {
  font-weight: 300;
  margin: 50px 0;
  letter-spacing: 0.04em;
  line-height: 0.5em;
}

.community-featured-video-title > h2 {
  /*text-align: left;*/
  font-size: 18px
}

.community-featured-video-title > p {
  /*text-align: left;*/
  color: #666;
  font-size: 13px;
}

.community-featured-video-wrapper {
  text-align: center;
  position: relative;
	padding-bottom: 28.25%;
	/*padding-top: 30px;*/
	height: 0;
	overflow: hidden;
  margin-bottom: 50px;
}

.community-featured-video-wrapper iframe,
.community-featured-video-wrapper object,
.community-featured-video-wrapper embed {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 1100px) {
  .community-featured-video-title {
    font-size: 25px;
    text-align: left;
  }

  .community-featured-video-title > h1 {
    font-weight: 300;
    margin: 25px 0;
    letter-spacing: 0.04em;
    line-height: 0.5em;
  }

  .community-featured-video-title > h2 {
    /*text-align: left;*/
    font-size: 15px
  }

  .community-featured-video-title > p {
    /*text-align: left;*/
    color: #666;
    font-size: 10px;
  }
}